.question-list table{
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
}

.modal-question-content img{
    width: 100%;
}

.ranking-list{
    list-style:none;
    margin:0;
    padding: 0;
}

.ranking-content{
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #f3f3f3;
    margin-bottom: 20px;
}

.ranking-number{
    padding:1px 5px;
    background: #F63;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    color:#FFF
}

.ranking-title{
    padding: 5px;
    border-bottom: 1px dashed #f3f3f3;
    color: #646464;
}

.rt-mrt{
    margin-right: 10px;
}

.ranking-describe{
    padding: 5px;
}

.ranking-comments{
    border-top: 1px dashed #f3f3f3;
    padding: 5px;
    color: red;
}

.modal-content img{
    max-width: 100%;
}

.business-header{
    font-family: inherit;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    border-bottom: 1px dashed #f3f3f3;
 }

.business-title{
    font-size: 24px;
}

.business-content{
    padding-top: 12px;
}

.business-content img{
    max-width: 100%;
    vertical-align: middle;
}
