.question-list table{
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
}

.modal-question-content img{
    width: 100%;
}

.ranking-list{
    list-style:none;
    margin:0;
}

.ranking-content{
    display:inline;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.modal-content img{
    width: 100%;
}
